# .NET
**/bin/
**/obj/
*.user
*.suo
.vs/
*.DotSettings.user
appsettings.Local.json

# Node / Next.js
**/node_modules/
**/.next/
**/out/
**/dist/
**/.env.local
**/.env.production.local
npm-debug.log*
yarn-debug.log*

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/
*.swp
